body, ol, ul, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, fieldset, legend, input, textarea, select, button {
  margin: 0;
  padding: 0
}

body {
  min-height: 100vh;
  font: 12px Arial, HELVETICA;
  -webkit-text-size-adjust: 100%;
}

a {
  color: #2d374b;
  text-decoration: none
}

a:hover {
  text-decoration: none;
}

em {
  font-style: normal
}

li {
  list-style: none
}

img {
  border: 0;
  vertical-align: middle
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

p {
  word-wrap: break-word
}

.tc {
  text-align: center;
}

.tl {
  text-indent: 2em;
  line-height: 36px;
}

.mt40 {
  margin-top: 40px;
}

.pb30 {
  padding-bottom: 30px;
}

.pb40 {
  padding-bottom: 40px;
}

@media screen and (max-width: 1336px) {

  .v1336 {
    display: none !important;
  }

  .v750 {
    display: block !important;
  }

  [hide] {
    display: none;
  }

  .v750[hide] {
    display: none !important;
  }

  body {
    background: rgba(240, 242, 245, 1);
  }

  header {
    height: 96px;
    margin-bottom: 30px;
    background: rgba(255, 255, 255, 1);

    ul {
      float: right;
      height: 96px;
      line-height: 96px;
      cursor: pointer;

      span {
        display: block;
        padding: 0 30px;
        font-size: 32px;
        font-weight: 600;
        color: rgba(24, 31, 60, 1);
        background-color: #ffffff;
      }

      .lang-zh {
        background: #ffffff url("../../assets/img/drop-down.png") no-repeat right  30px center;
      }
    }
  }

  .wrap {

    .box {
      width: 690px;
      margin: 0 auto;
    }
  }

  .index {
    color: rgba(255, 255, 255, 1);

    .left {
      box-sizing: border-box;
      padding: 30px;
      background: url("../img/bg750.png") no-repeat center center / 100% 100%;

      .title {
        font-weight: 600;
        font-size: 34px;
      }

      .tips {
        margin-top: 10px;
        font-weight: 400;
        font-size: 34px;
      }

      .address, .date {
        margin-top: 40px;
        padding-left: 50px;
        background: url("../img/address750.png") no-repeat left center;
        font-size: 28px;
      }

      .date {
        background-image: url("../img/date750.png");
      }

      .cp-name {
        clear: both;
        padding-top: 40px;
        font-size: 28px;
        font-weight: 500;
      }

      .cp {
        font-size: 20px;

        li {
          margin-top: 10px;
        }
      }
    }

    .right {

      li {
        margin-top: 30px;
        background-color: transparent;
      }
    }
  }

  .top-img {
    display: block;
    margin: 0 auto;
  }

  .white-block {
    margin-bottom: 30px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    background: rgba(255, 255, 255, 1);
    border-radius: 10px;
    font-size: 32px;
    font-weight: 500;
    color: #181F3C;

    .tl {
      line-height: 42px;
    }

    .name {
      //margin-top: 20px;
      color: #999999;
    }

    .value {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .value:last-child {
      margin-bottom: 0;
      padding-bottom: 40px;
    }

    .date {
      margin-bottom: 30px;
    }
  }

  .line.v750 {
    width: 630px;
    height: 1px;
    margin: 0 auto 40px;
    background: rgba(20, 26, 50, 1);
    opacity: 0.3;
  }

  body.register {
    background-color: #ffffff;

    .wrap {
      box-sizing: border-box;
      width: 750px;
      margin: 0 auto;
      padding: 90px 30px;

      .title1 {
        margin-bottom: 80px;
        font-size: 60px;
        font-weight: 500;
        color: rgba(20, 26, 50, 1);
      }

      .item {

        .label {
          margin-bottom: 10px;
          font-size: 30px;
          font-weight: 600;
          color: rgba(20, 26, 50, 1);
        }

        .input {
          margin-bottom: 30px;

          input[type=text] {
            display: block;
            width: 100%;
            height: 90px;
            border: none;
            border-bottom: 1px solid #999999;
            color: rgba(20, 26, 50, 1);
            font-size: 30px;
            outline: none;
          }

          &.radio {
            display: flex;
            align-items: center;
            height: 90px;

            span {
              margin-left: 15px;
              margin-right: 100px;
              font-size: 30px;
              color: rgba(20, 26, 50, 1);
            }
          }

          input[type=radio] {
            width: 26px;
            height: 26px;
            border-radius: 13px;
            border: 2px solid rgba(20, 26, 50, 1);
          }
        }
      }

      button {
        display: block;
        width: 690px;
        height: 96px;
        margin: 0 auto;
        border: none;
        border-radius: 48px;
        background: rgba(2, 143, 251, 1);
        font-size: 34px;
        color: #ffffff;
      }
    }
  }

  #lang {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 136px;
    height: 38px;
    font-size: 28px;
  }
}

@media screen and (min-width: 1336px) {

  .v750 {
    display: none !important;
  }

  .v1336 {
    display: block !important;
  }

  body {
    background: url(../img/bg.png) no-repeat left bottom / cover, linear-gradient(360deg, rgba(51, 145, 255, .9) 0%, rgba(15, 126, 255, .9) 100%);
  }

  .fz28 {
    font-size: 28px;
  }

  .fz26 {
    font-size: 26px;
  }

  .fz24 {
    font-size: 24px;
  }

  .fz20 {
    font-size: 20px;
  }

  .row {
    overflow: hidden;

    .block {
      float: left;
      width: 33.33%;

      .name {
        @extend .fz26;
      }

      .value {
        @extend .fz20;
        margin-top: 10px;
      }

    }
  }

  .line {
    width: 1250px;
    height: 1px;
    margin: 40px auto;
    background: rgba(255, 255, 255, 1);
    opacity: 0.6;
  }

  header {
    height: 68px;
    //background: rgba(16, 126, 255, .9);
    line-height: 68px;

    h1 {
      float: left;
      padding-left: 40px;
      font-weight: normal;
      font-size: 24px;
      color: #ffffff;
    }

    i {
      display: inline-block;
      width: 1px;
      height: 20px;
      margin-left: 10px;
      background: rgba(255, 255, 255, 1);
      opacity: 0.6;
      vertical-align: middle;
    }

    span {
      margin-left: 10px;
      font-size: 16px;
      font-weight: 400;
      color: rgba(24, 31, 60, 1);
      vertical-align: middle;
      cursor: pointer;

      &.active {
        color: #ffffff;
      }
    }
  }

  .wrap {
    width: 1336px;
    margin: 0 auto;
    padding-top: 40px;
    color: #ffffff;

    .box {
      overflow: hidden;
      width: auto;
      padding: 40px;

      .title {
        font-size: 40px;
        font-weight: 500;
      }

      .nav {
        overflow: hidden;
        margin-top: 40px;

        li {
          float: left;
          width: 290px;
          height: 100px;
          border-radius: 12px;
          background-color: #ffffff;
          line-height: 100px;
          opacity: .6;

          & + li {
            margin-left: 30px;
          }

          &.active {
            opacity: 1;
          }

          a {
            display: block;
            height: 100%;
          }

          img {
            width: 60px;
            height: 60px;
            margin-left: 52px;
            vertical-align: middle;
          }

          span {
            margin-left: 20px;
            font-size: 26px;
            font-weight: 600;
            color: #141A32;
            vertical-align: middle;
          }
        }
      }

      .main {
        padding-top: 40px;

        .date {
          @extend .fz26;
          margin-bottom: 40px;
        }
      }
    }
  }

  .index {

    .left {
      float: left;
      max-width: 455px;
      background: transparent;

      .title {
        font-size: 30px;
      }

      .tips {
        margin-top: 10px;
        font-size: 26px;
        font-weight: 500;
      }

      .address, .date {
        padding-left: 40px;
        font-size: 20px;
        font-weight: 500;
      }

      .address {
        margin-top: 50px;
        background: url(../img/address.png) no-repeat left center;
      }

      .date {
        margin: 30px 0 60px;
        background: url(../img/date.png) no-repeat left center;
      }

      .cp-name {
        margin-top: 30px;
        font-size: 20px;
        font-weight: 500;
      }

      .cp {
        font-size: 16px;
        font-weight: 400;

        li {
          margin-top: 10px;
        }
      }
    }

    .right {
      float: right;
      width: 800px;

      ul {

        li {
          float: left;
          width: 378px;
          height: 300px;
          margin-left: 20px;
          margin-bottom: 20px;
          border-radius: 20px;
          background: #ffffff;
          text-align: center;

          a {
            display: block;
            height: 100%;

            &:nth-child(2) {
              display: none;
            }

            img {
              margin-top: 40px;
            }

            span {
              display: block;
              margin-top: 30px;
              color: rgba(20, 26, 50, 1);
              font-size: 40px;
              font-weight: 600;
            }
          }
        }
      }
    }
  }

  body.register {
    background: rgba(240, 242, 245, 1) url("../img/register.png") no-repeat center top / 100%;

    .title {
      font-size: 24px;
      color: #ffffff;
    }

    .box2, .box3 {
      box-sizing: border-box;
      width: 1120px;
      margin: 18px auto 0;
      padding: 30px 100px;
      background: #ffffff;
      color: #141A32;
      font-size: 20px;

      .row {
        display: flex;
        padding-top: 60px;

        .item + .item {
          margin-left: 240px;
        }

        .label {
          line-height: 46px;

        }

        .education input {
          background: url("../img/education.png") no-repeat right center;
        }

        .input {
          margin-top: 13px;

          input[type=text] {
            width: 340px;
            height: 46px;
            border: none;
            border-bottom: 1px solid #999999;
            font-size: 20px;
            //box-shadow: 0px 1px 0px 0px ;
            outline: none;
          }

          label {
            line-height: 46px;

            & + label {
              margin-left: 115px;
            }

            span {
              margin-left: 20px;
              font-size: 20px;
              color: #999999;
            }
          }

          input[type=radio] {
            width: 26px;
            height: 26px;
            vertical-align: middle;
          }
        }
      }

      button {
        display: block;
        width: 340px;
        height: 60px;
        margin: 120px auto 0;
        border: none;
        border-radius: 30px;
        background: rgba(51, 145, 255, 1);
        font-size: 24px;
        color: rgba(255, 255, 255, 1);
      }
    }
  }

  #lang {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
  }
}

.box3 {
  display: none;
}

.alert {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .box {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 110px;
    margin-left: -150px;
    margin-top: -50px;
    font-size: 24px;
    border: 1px solid #999999;
    background: #ffffff;
    text-align: center;

    .msg {
      display: flex;
      justify-content: center;
      height: 70px;
    }
  }

  button {
    display: block;
    margin: 0 auto;
    line-height: 30px;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
}

.sign-up {
  float: right;
  width: 180px;
  height: 50px;
  background-color: #e99636;
  line-height: 50px;
  text-align: center;
  font-size: 24px;
  color: #ffffff;
  border-radius: 10px;
}

.sign-up-btn {
  display: block;
  width: 100%;
  height: 96px;
  margin-top: 40px;
  border: none;
  background-color: #028FFB;
  font-size: 32px;
  text-align: center;
  line-height: 96px;
  color: #ffffff;
}
